@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

:root {
	--orange: #d0021b;
}

ul {
	padding: 0;
}

li {
	list-style-type: none; 
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

section {
	margin-bottom: 30px;
}

section.header {
	background-color: var(--orange);
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header .container h1 {
	color: #fff;
}

.header .container .logo {
	display: flex;
}

.header .container .logo img {
	margin-right: 15px;
	height: 36px;
	width: 36px;
}

.header .container a {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
}

.header .container a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #fff;
}

.languages {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.languages li {
	margin-right: 20px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item {
	margin: 20px;
	text-align: center;
}

.space-list-items {
	margin-bottom: 7px;
}

.avatar {
	width: 150px;
	border-radius: 50%;
	margin: 10px 0;
}

.popular-rank {
	font-size: 20px;
}